body {
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1503919483171-9ffc1debc390');
}

.wrapper {
    justify-content: center;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.header {
    background-color: rgb(252 186 88 / 61%);
    border-radius: 10px;
}

.card {
    background-color: rgb(252 186 88 / 61%);
    width: 250px;
    border-radius: 10px;
    color: white;
    padding: 0 0 10px 25px;
}

.card h2 {
    color: rgb(140 131 2 / 78%);
    padding-top: 10px;
}

.bold {
    font-weight: 700;
}

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: rgb(140 131 2 / 78%);
}

li a{
    text-decoration: none;
    color: rgb(140 131 2 / 78%);
}

li.active {
    background-color: #fff6f433;
    box-shadow: #dbd8d8;
}

.footer-wrapper {
    background-color: rgb(252 186 88 / 61%);
    margin-top: 300px;
    border-radius: 10px;
}

.footer-wrapper img {
    width: 40px;
}

.footer-wrapper a {
    justify-content: center;
    display: flex;
    padding: 5px 0;
}
